
!!! 5
html
    head
        block Thu Fast, Thu Furious
        //meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        //meta(name="viewport", content="target-densitydpi=device-dpi")
        //meta(name="apple-mobile-web-app-capable", content="yes")
        //meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
        //meta(name="MobileOptimized", content="width")
        //meta(name="HandheldFriendly", content="true")

        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js")
        script(type="text/javascript", src="/js/libs/jaws.js")
        script(type="text/javascript", src="/js/app.js")
    body
        div#fps
        div#container
            canvas(width="900", height="500")
        