
!!! 5
html
    head
        title Thu Fast, Thu Furious

        link(rel="stylesheet", type="text/css", href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js")
        script(type="text/javascript", src="/js/libs/jaws.js")
        script(type="text/javascript", src="/js/app.js")
        style
            body {
                margin: 50px;
                text-align: center;
                background-color: #0d0d0d;
                color: #dddddd;
            }

            .table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
                background-color: #1d1d1d;
            }
    body
        div.container
            div.row
                div#container.span12
                    canvas(width="900", height="500")
            div.row
                div#instructions.span6.offset3
                    table.table.table-condensed.table-bordered.table-striped
                        tr
                            td Move
                            td ←↑→↓
                        tr
                            td Run
                            td Shift
                        tr
                            td Jump
                            td S
                        tr
                            td Punch
                            td Z
                        tr
                            td Kick
                            td X
                        tr
                            td Uppercut
                            td C
                div.span2.offset1 FPS:
                    span#fps