
!!! 5
html
    head
        title Thu Fast, Thu Furious

        link(rel="stylesheet", type="text/css", href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js")
        script(type="text/javascript", src="/js/libs/jaws.js")
        script(type="text/javascript", src="/js/app.js")
        style
            body {
                margin: 50px;
                text-align: center;
            }

    body
        div.container
            div.row
                div#container.span12
                    canvas(width="900", height="500")
            div.row
                div#instructions.span6.offset3
                    span Move with arrow keys; Run with the Shift key; Attack with Z, X, C
                div.span2.offset1 FPS:
                    span#fps